<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-5">Final Frontier created by Nimesh Patel</p>
      <a class="icon" href="https://github.com/n2kp" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</footer>
