<footer class="footer">

    <div class="content has-text-centered">
      <p class="title is-5">Final Frontier created by < Nimesh Patel ></p>
      <a href="mailto:n2kp@hotmail.com"><i class="fa fa-envelope email" style="font-size:24px" aria-hidden="true"></i></a>
      <a href="https://twitter.com/n2kp" target="_blank"><i class="fa fa-twitter twit" style="font-size:24px" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/nimesh-patel-41b782122/" target="_blank"><i class="fa fa-linkedin linked" style="font-size:24px" aria-hidden="true"></i></a>
      <a href="https://github.com/n2kp" target="_blank"><i class="fa fa-github git" style="font-size:24px" aria-hidden="true"></i></a>
    </div>

</footer>
