<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="http://icons.iconarchive.com/icons/blacksugar/new-year-flat/128/Stars-icon.png" alt="Logo" width="30" height="30">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if(locals.isLoggedIn) { %>
      <li class="nav-item active">
        <a class="nav-link" href="/stars">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stars/new">Add Image</a>
      </li>
      <% } %>

    <ul class="navbar-nav mr-auto">
      <% if(locals.isLoggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= currentUser.id %>">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
        <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-light bg-faded">

</nav>
