<h1 class="title is-1">New Image</h1>

<div class="container">
  <div class="column">
    <div class="box">

      <form method="POST" action="/stars" enctype="multipart/form-data">

        <div class="field">
          <label class="label">Name</label>
          <p class="control">
            <input class="input" name="name" type="text" required>
          </p>
        </div>

        <div class="field">
          <label class="label" for="image">Image</label>
          <input class="" type="file" name="image" id="image" required>
        </div>

        <div class="field">
          <label class="label">Type</label>
          <p class="control">
            <span class="select">
              <select name="type" required>
                <% types.forEach(type => { %>
                  <option><%= type %></option>
                <% }) %>
              </select>
            </span>
          </p>
        </div>

        <div class="field">
          <label class="label">Date</label>
          <p class="control">
            <input class="input" name="date" type="date" required>
          </p>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <p class="control">
            <textarea class="textarea" name="description" maxlength="300" required></textarea>
          </p>
        </div>

        <label class="label">Location of Image</label>
        <div class="map newMap" id="newMap">
        </div>

        <div class="field">
          <label class="label"></label>
          <p class="control">
            <input class="input" name="lat" id="newLat" type="hidden" required>
          </p>
        </div>

        <div class="field">
          <label class="label"></label>
          <p class="control">
            <input class="input" name="lng" id="newLng"type="hidden" required>
          </p>
        </div>



        <button class="button is-success is-medium" type="create">Create</button>
        <a href="/stars" class="button is-warning is-medium">Cancel</a>

      </form>

    </div>
  </div>
</div>
