
<div class="container">
  <div class="column">
    <div class="box">
      <h1 class="title is-1">404: Not Found</h1>
      <h2 class="subtitle is-3">AKA: There's nothing here!</h2>
    </div>
    <div class="box">
      <p>Looks like you're trying to access a part of the site that doesn't exist, or it has been moved.</p>
      <p>Please use the navigation links above to find what you are looking for.</p>
    </div>
  </div>
</div>
