<div>

  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <% if(!locals.isLoggedIn) { %>
  <div id="vidtop-content">
  <div class="vid-info">
  	  <h1>Final Frontier</h1>
  	  <p>A community of amatuer and professional astrophotographers, showcasing their latest images of heavenly bodies.</p>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
  <% } %>

</div>
