<div>

    <div class="video-background <% if(!locals.isLoggedIn) { %>logged-out<% } %>">
      <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div id="vidTopContent" class="text is-centered">
        <% if(!locals.isLoggedIn) { %>
        <div class="has-text-centered">
          <p class="entryTitle">Final Frontier</h2>
        </div>
        <div class="entry has-text-centered">
          <p class="entryDescription">A community of amatuer and professional astrophotographers, showcasing their latest images of heavenly bodies.</p>
        </div>
        <div class="has-text-centered">
          <a href="/login" class="button entryButton is-medium is-primary is-outlined">Login</a>
          <a href="/register" class="button entryButton is-medium is-info is-outlined">Register</a>
        </div>
        <% } %>

    </div>

</div>
