<h1 class="title is-1">User Profile</h1>

<div class="container">
  <div class="col">

    <div class="box">
      <h2 class="title is-2"><%= user.username %></h2>
      <h4 class="subtitle is-3"><%= user.email %></h4>
      <br>
      <form method="POST" action="/users/<%= user.id %>">
        <a href="/users/<%= user.id %>/edit" class="button is-info">Edit Account</a>
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger">Delete Account</button>
      </form>
    </div>

    <div class="box userProfileMap">
      <h3 class="title is-3">Current Location:</h3>
      <div id="userProfileMap">
      </div>
    </div>

    <div class="box userProfileForcast">
      <h3 class="title is-3">Star Grazing Forecast:</h3>
      <div id="userProfileForcast">
      </div>
    </div>

  </div>
</div>
