<h1>User Profile</h1>

<div class="container">

  <h2><%= user.username %></h2>

  <h4><%= user.email %></h4>

  <h4>Current Location:</h4>


  <div id="userProfileMap">

  </div>

  <form method="POST" action="/users/<%= user.id %>">
    <a href="/users/<%= user.id %>/edit" class="button">Edit Account</a>
    <input type="hidden" name="_method" value="DELETE">
    <button class="button btn btn-danger">Delete</button>
  </form>


</div>
